{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "jest"
    ],
    "rules": {
        "eol-last": "warn",
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "warn",
        "no-console": "warn",
        "no-namespace": "off",
        "no-prototype-builtins": "off",
        "quotes": [
            1, "single"
        ],
        "semi": "warn",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
    }
}