{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-console": "warn",
        "eol-last": "warn",
        "semi": "warn",
        "no-namespace": "off",
        "quotes": [
            1, "single"
        ]
    }
}