<h1 mat-dialog-title>Change Username</h1>

<ng-container *ngIf="loggedIn; else spinner">
    <div mat-dialog-content>
        <p>Your username will be changed. Your new username must be unique.</p>
        <spiff-form-field
            [label]="'Username'"
            [value]="getUsername()"
            [control]="usernameFormControl"></spiff-form-field>
    </div>
    <div mat-dialog-actions class="">
        <button mat-button color="primary">Cancel</button>
        <spiff-button [disabled]="!canChange()" (action)="changeUsername()">Change</spiff-button>
    </div>
</ng-container>

<ng-template #spinner>
    <mat-spinner></mat-spinner>
</ng-template>