<h1 mat-dialog-title>Register</h1>
<div mat-dialog-content>
    <form class="register-form">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [formControl]="usernameControl" #ngUsername>
            <mat-error *ngIf="usernameControl.hasError('required')">
                Please enter your username
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" [formControl]="passwordControl" #ngPassword>
            <mat-error *ngIf="passwordControl.hasError('required')">
                Please enter your password
            </mat-error>
        </mat-form-field>

        <spiff-form-field
            label="Retype Password"
            [control]="retypePasswordControl"
            errorStrategy="priority"
            [errorPriority]="retypePasswordErrorPriority"
            [errorMap]="retypePasswordErrorMap">
        </spiff-form-field>
    </form>

    <mat-error *ngIf="registerError">{{ registerError }}</mat-error>
    <spiff-button
            class="create-account-button"
            [disabled]="!usernameControl.valid || !passwordControl.valid || !retypePasswordControl.valid"
            [loading]="creatingAccount"
            (click)="createAccount()">
        Create Account
    </spiff-button>
</div>